* {
    margin: 0;
    padding: 0;
    font-style: Verdana, sans-serif;
    border-color: #B6BBC4;
    color: #F0ECE5;
    background-color: #161A30;
}

body {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    border-radius: 20px;
}

#top {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}

#score-container {
    display: flex;
    justify-content: center;
    flex-grow: 4;
    border-radius: 20px 20px 0 0;
}

#bottom {
    display: flex;
    flex-grow: 1;
    padding: 13px;
    border-radius: 0 0 20px 20px;
}

#bottom button {
    flex-grow: 1;
    margin: 13px;
    padding: 0;;
    font-size: 40px;
    border-radius: 9px;
    border-width: 5px;
    border-color: #31304D;
}

#score-container div {
    flex-grow: 1;
}

#result {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#player-container,
#computer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px
}

#player-container {
    border-right-style: solid;
    border-right-color: #31304D;
    border-right-width: 2px;
}

#player-container div,
#computer-container div {
    display: flex;
    align-items: center;
    margin: 20px;
    
}

#player-score,
#computer-score {
    width: 150px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
} 

#player-name,
#computer-name,
#player-choice,
#computer-choice {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
    background-color: #31304D;
}

#player-container {
    border-top-left-radius: 20px;
}
#computer-container {
    border-top-right-radius: 20px;
}